div.buttons {
    background-color: #2326;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 40px;
}

div.container {
    background-color: #2323;
    display: flex;
    flex-direction: column;
    padding: 14px;
    font-size: 50px;
    text-align: center;
}

div.counter {
    display: flex;
    justify-content: space-around;
}

div#message {
    margin-bottom: 24px;
}

div#win, div#lose{
    border: 5px solid black;
    font-size: 50px;
    padding: 20px;
}

div#announcement {
    margin-top: 24px;
}

button{
    background-color: #4CAF50;
    color: rgb(255, 115, 0);
    font-weight: bold;
    padding: 14px;
    font-size: 16px;
    width: 15%;
}